<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fisika</title>
    <link rel="stylesheet" type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .btn-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="one mt-4 text-center">Kelompok Fisika</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nama</th>
                            <th scope="col">NPM</th>
                            <th scope="col">Jurusan</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>ANGGA RIZKI NUGRAHA</td>
                            <td>50423181</td>
                            <td>informatika</td>
                        </tr>
                        <tr>
                            <td>AXL REGAN YOHANDE</td>
                            <td>50423237</td>
                            <td>informatika</td>
                        </tr>
                        <tr>
                            <td>KEISHA PUTRI PURNAMA</td>
                            <td>50423683</td>
                            <td>Informatika</td>
                        </tr>
                        <tr>
                            <td>MOHAMAD KEVIN EMIR ALKHATAMI</td>
                            <td>50423792</td>
                            <td>Informatika</td>
                        </tr>
                        <tr>
                            <td>NAZRIL BINTANG PRATAMA</td>
                            <td>51423096</td>
                            <td>Informatika</td>
                        </tr>
                        <tr>
                            <td>SALSEPA ZENAS VITO</td>
                            <td>51423355</td>
                            <td>Informatika</td>
                        </tr>
                        
                    </tbody>
                </table>

                <div class="btn-container">
                    <a href="/login" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
